In [6]:
import pandas as pd 
import numpy as np
import math
import matplotlib as mpl

In [7]:
data=pd.read_csv("iris.csv")
data

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
#based on euclidean distance
def dist(a,b):
    d=0
    for i in range(len(a)-1):
        d=d+(a[i]-b[i])**2
    return math.sqrt(d)

In [18]:
a=float(input())
b=float(input())
c=float(input())
d=float(input())
e=[a,b,c,d]
def predict(e):
    dis=[]
    for i in range(149):
        dis.append(dist(e,data.iloc[i,:]))
    dis
    a=dis.copy()
    a.sort()
    a
    k=int(input("enter value of k for knn"))
    a=a[0:k]
    cat={}
    for i in range(149):
        if dis[i] in a:
            if data.iloc[i,4] in cat:
                cat[data.iloc[i,4]]+=1
            else:
                cat[data.iloc[i,4]]=1
    cat        
    out=[]
    for i in cat:
        if cat[i]==max(cat.values()):
            out.append(i)
    return out

6.7
3
5.2
2.3

In [19]:
a=predict(e)
print(a)

enter value of k for knn10
['Iris-virginica']