In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
data=pd.read_csv("salary_dataset.csv")
data

    YearsExperience  Salary
0               1.2   39344
1               1.4   46206
2               1.6   37732
3               2.1   43526
4               2.3   39892
5               3.0   56643
6               3.1   60151
7               3.3   54446
8               3.3   64446
9               3.8   57190
10              4.0   63219
11              4.1   55795
12              4.1   56958
13              4.2   57082
14              4.6   61112
15              5.0   67939
16              5.2   66030
17              5.4   83089
18              6.0   81364
19              6.1   93941
20              6.9   91739
21              7.2   98274
22              8.0  101303
23              8.3  113813
24              8.8  109432
25              9.1  105583
26              9.6  116970
27              9.7  112636
28             10.4  122392
29             10.6  121873

In [55]:
X=data.drop(columns="Salary")
Y=data["Salary"]
float(X.iloc[1])

1.4

In [88]:
sumx=0
sumy=0
sumxy=0
sumx2=0
for i in range(len(Y)):
    sumx=sumx+float(X.iloc[i])
    sumy=sumy+Y[i]
    sumxy=sumxy+float(X.iloc[i])*Y[i]
    sumx2=sumx2+float(X.iloc[i]**2)
numa=sumy*sumx2-sumx*sumxy
dena=len(Y)*sumx2-sumx**2
a=numa/dena
#a is the intercept of the regression line
numb=len(Y)*sumxy-sumx*sumy
denb=len(Y)*sumx2-sumx**2
b=numb/denb
def predict(x,a,b):
    return a+b*x

dev=0
for i in range(len(Y)):
    dev=dev+abs(Y[i]-predict(float(X.iloc[i]),a,b))
dev/len(Y)

4644.201289443533